#all_buttons, #getstarted_button{

	box-shadow: 2px 2px 2px #888888;
	border-style: none;
	background-color: #00B4FF;

}

#getstarted_button {
	margin: 20% 0px;
}

#h3text{

	color: #666;

}

#h1text{

	color: #00B4FF;
}

.link{

	color: #FFFFFF;
}

.modal-header{

	background-color: #EEE;
}

.modal-footer{

	background-color: #F38630; 
}

#bubble_footer{

	/*background-color: #EEE;*/
	background-color: rgba(240, 240, 240, 0.8);
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 17%;
}

#footer_cvs {
	width: 80%;
	height: 100%;
}

#header{

	/*opacity: 0.6;*/
	color: #FFF;
	font-size: 20px;
	background-color: rgba(10,10,10, 0.5);

}

#bubble_container{
	/*
	background-color: #FAFAFA	; 
	background-size: 100% auto; 
	*/
	padding:0;

}


#fullbody{

	background-color: #000; /*a very pretty cream color*/
	background-image: url("sunny.jpg");
	background-size: 100% auto;

}

#dropdown{
	background-color: #F38630;
	color: #FFFFFF;
}


div.btn-group li.text a{
	color: #FFFFFF;
}

#song_panel{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: none;

}

p{
	text-align: center;
	color: #000000;
}
#list_text{
	color: #000000;
	border-color: #69D2E7;
}

#closebutton{
	color: #F38630;
	opacity: 1;

}
body{
 background-size: 100% auto;
}
