.all_buttons, #getstarted_button{

	box-shadow: 2px 2px 2px #888888;
	border-style: none;
	background-color: #69D2E7;
}

#h3text{

	color: #F38630;

}

#h1text{

	color: #FA6900;
}

.link{

	color: #F38630;
}

#bubble_footer{

	background-color: #FC912D;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 17%;
}

#footer_cvs {
	width: 80%;
	height: 100%;
}

#header{

	opacity: 0.6;
	color: #FC912D;
	font-size: 20px;

}

#bubble_container{

	background-color: #FCFBE3; /*a very pretty cream color*/
	padding:0;

}

#fullbody{

	background-color: #FCFDE5; /*a very pretty cream color*/

}

#dropdown{
	background-color: #F38630;
	color: #FFFFFF;
}


div.btn-group li.text a{
	color: #FFFFFF;
}

#song_panel{
	opacity: 0.7;
	position: relative;

}

#upnext{
	background-color: #69D2E7;
	color: #FFFFFF;
}

#list_text{
	color: #000000;
	border-color: #69D2E7;
}

#closebutton{
	color: #F38630;
	opacity: 1;

}
