@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-font/raleway-regular-webfont.eot');
    src: url('raleway-font/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-font/raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-font/raleway-regular-webfont.woff') format('woff'),
         url('raleway-font/raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-font/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btn {

	font-family: 'ralewayregular';
	box-shadow: 2px 2px 2px #888888;
	border-style: none;
	background-color: #00B4FF;

}

#getstarted_button {
	font-family: 'ralewayregular';
	margin: 20% 0px;
}

.text-center{
	font-family: 'ralewayregular';
	color: #666;

}

.modal-title{
	font-family: 'ralewayregular';
	color: #00B4FF;
}

.link{	
	font-family: 'ralewayregular';
	color: #FFFFFF;
}

.modal-header{
	font-family: 'ralewayregular';
	background-color: #EEE;
}

.modal-footer{
	font-family: 'ralewayregular';
	background-color: #F38630; 
}

#bubble_footer{

	/*background-color: #EEE;*/
	background-color: rgba(240, 240, 240, 0.8);
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 17%;
}

#footer_cvs {
	font-family: 'ralewayregular';
	width: 80%;
	height: 100%;
}

#footer {
	/*position: fixed;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}


#header{
	/*opacity: 0.6;*/
	font-family: 'ralewayregular';
	color: #FFF;
	font-size: 20px;
	background-color: rgba(10,10,10, 0.5);

}

.container-fluid{

	padding:0;

}

#buttonContainer{
	padding:15px;
}

#textfordarkbg{

	color: #FFFFFF;
}


.dropdown-toggle, .dropdown-menu{
	font-family: 'ralewayregular';
	background-color: #F38630;
	color: #FFFFFF;
	border: #F38630;
	box-shadow: 2px 2px 2px #A9A9A9
}


div.btn-group li.text a{
	font-family: 'ralewayregular';
	color: #FFFFFF;
}

#song_panel{
	font-family: 'ralewayregular';
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	border-style: none;
}



@media (max-height: 675px) and (min-height: 601px)  {
	iframe  {
		height: 400px !important;
	}
}
@media (max-height: 600px) and (min-height: 501px)  {
	iframe  {
		height: 325px !important;
	}
}
@media (max-height: 500px)  and (min-height: 401px) {	
	iframe  {
		height: 300px !important;
	}
}
@media (max-height: 400px) {	
	iframe  {
		height: 80px !important;
		width: 250px !important;
	}
}
@media (max-width: 600px)  and (min-with: 450px) {	
	iframe  {
		width: 400px !important;
	}
}


p{
	font-family: 'ralewayregular';
	text-align: center;
	color: #000000;
}

#whatisbutton { 
	font-family: 'ralewayregular';
	background:none;
	border:none;
	padding: 0px;
	border-style: none;
	box-shadow: none;
}

body{
	font-family: 'ralewayregular';
	background-color: #000; 
	background-image: url("sunny.jpg");
	background-size: 100% auto;
}
